body {
	font-family: sans-serif;
	margin: 0px;
	overflow: hidden;
}
#cnvs {
	position: relative;
	border: 1px black dotted;
}
.param {
	background-color: rgba(147, 128, 108, 0.1);
	padding: 0.3em;
	margin: 0.1em;
	border-radius: 0.3em;
}
.param input {
	width: 4em;
}
#controls {
	margin: 1em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#description {
	max-width: 40em;
	padding: 1em;
}
